/* Telerik RadInput Outlook skin */

.radInput_Outlook
{
	font:12px arial,verdana,sans-serif;
	vertical-align: middle;
}

.radInput_Outlook table,
.radInput_Outlook table td
{
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_Outlook table
{
	vertical-align:bottom;
}

.radInput_Outlook .inputCell 
{
	padding:0 4px 0 0;		
}

.radInput_Outlook textarea
{
	vertical-align:bottom;
	overflow:auto;
}

.radInput_Outlook input.inputCell
{
	padding:1px 4px 1px 0;
}

.radInput_Outlook .spinImgCell
{
	padding-top: 2px;
}

.radInput_Outlook .imageCell img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1; 
    opacity: 1; 
}

/* SPIN BUTTONS */

.radInput_Outlook a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 2px;
	position: relative;
	_position: inherit; /*IE fix*/
	outline: none;	
}

*+html .radInput_Outlook a.spinbutton
{
	position: inherit;
}

.radInput_Outlook a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Outlook a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Outlook a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	_position: inherit; /*IE fix*/
	outline: none;
}
*+html .radInput_Outlook a.gobutton
{
	position: inherit;
}

/* INPUT STYLES SETTINGS */

.radEnabledCss_Outlook 
{
	color: #000;
	border: solid 1px #c4dbf9;
	background-color: #e0eeff;
}

.radHoverCss_Outlook 
{
	color: #242424;
	border: solid 1px #c6c6c6;
}

.radDisabledCss_Outlook
{
	color: Gray;
	border: solid 1px Grey; 
	background-color: #e3e3e3;
}

.radDisabledCss_Default a.gobutton,
.radDisabledCss_Default a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_Outlook
{
	color: #000000;
	border: solid 1px #c4dbf9; 
	background-color: #e0eeff;
}


.radFocusedCss_Outlook
{
	color: #000000;
	background-color: #fff;
	border: solid 1px #000080;
}

.radNegativeCss_Outlook
{
	color:  #000000;
	border: solid 1px #990000; 
}

.radInvalidCss_Outlook
{
	color: red;
	border: solid 1px #ffad55;
	background-color: #ffffff;
}

.radLabelCss_Outlook
{
	color: #000000; 
	padding-right: 5px; 
	white-space:nowrap;
}

.radHint_Outlook 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Outlook a,
.radHint_Outlook a:visited,
.radHint_Outlook a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
