.RadGrid_Green
{
    border:1px solid #566e4b;
    background:#f1f5e0;
    color:#333;
}

.RadGrid_Green,
.MasterTable_Green,
.GridFilterMenu_Green table,
.GridEditForm_Green,
.GridEditForm_Green table,
.GridEditForm_Green table input,
.GridEditForm_Green table textarea{
    font:11px/1.4 arial,sans-serif;
}

.MasterTable_Green
{
	border-collapse: separate !important;
}

.MasterTable_Green th,
.MasterTable_Green td
{
	padding-left: 10px;
}

.MasterTable_Green td
{
	color:#333;
}

.MasterTable_Green .GridHeader_Green,
.MasterTable_Green .ResizeHeader_Green
{
    height:35px;
    background: #809e72;
    text-align:left;
    padding-left:11px;
	border-bottom: solid 1px #566e4b;
	border-top: solid 1px #9ab28b;
}


/*hierarchy*/

.MasterTable_Green table
{
	border-left:2px solid #566e4b;
	border-bottom:1px solid #566e4b;
}
* html .MasterTable_Green table{border-left-width:1px}
*+html .MasterTable_Green table{border-left-width:1px}
.MasterTable_Green .GridCommandRow_Green table{border:0}
.MasterTable_Green .GridEditForm_Green table{border:0}

.MasterTable_Green td
{
	background:#fdfff3;
}
.MasterTable_Green table .GridHeader_Green,
.MasterTable_Green table .ResizeHeader_Green
{
    height:24px;
}

.GridHeader_Green,
.GridHeader_Green a
{
    font-size:1.13em;
    color:#fff;
    font-weight:normal;
    text-decoration:none;
}

.GridRow_Green td,
.GridAltRow_Green td,
.GridEditRow_Green td,
.SelectedRow_Green td,
.ActiveRow_Green td
{
    padding-top:4px;
    padding-bottom:5px;
}

.GridAltRow_Green td
{
    background-color:#f1f5e0;
}

.GridRow_Green td,
.GridAltRow_Green td
{
    color:#333;
}

.SelectedRow_Green td
{
    background:#e4d189;
}

.ActiveRow_Green td
{
    background:#ddba34;
}

.GridEditRow_Green td
{
    background:#e4e9cc;
}

.GridEditForm_Green table
{
	background: #e4e9cc;
	border-bottom:1px solid #ced3b7;
}

.GridEditForm_Green table td
{
	color:#333;
	border:0;
}

.GridEditForm_Green table input
{
	border:1px solid #9ba086;
}

.GridEditRow_Green a
{
	color:#2f5205;
}

.GridRow_Green a,
.GridAltRow_Green a,
.GridEditForm_Green table a
{
	color:#333;
}

.GridFooter_Green td
{
    background:#e4e9cc;
    border-top:1px solid #ced3b7;
    padding-top:0.3em;
    padding-bottom:0.3em;
    color:#8a8f7c;
}

.GridPager_Green td
{
    background:#c6ceaf;
    border-top:1px solid #c0c69e;
    padding-top:0.3em;
    padding-bottom:0.3em;
    color:#444833;
}

.GridPager_Green a
{
    color:#444833;
}

.GroupPanel_Green,
.GridCommandRow_Green td
{
    background: #526c46;
    color:#899e72;
    font-weight: normal;
	border-bottom: solid 1px #3d5333;
	border-top: solid 1px #6a805d;
	font-size: 11px;
}

.GroupPanelItems_Green
{
	border: solid 1px #9fad98;
	border-bottom-color: #395224;
	border-right-color: #395224;
	font-size: 11px;
	padding: 0px 2px 0px 5px;
}

.GridCommandRow_Green td td
{
	background:none transparent;
	border:0;
}

.GridCommandRow_Green a
{
	color:#fff;
	text-decoration:none;
}

.GridCommandRow_Green a img
{
	vertical-align:bottom;
}

.GroupHeader_Green
{
    background:#fff;
    font-size:1.27em;
    font-weight:bold;
}

.GroupHeader_Green td
{
    padding-top:0.7em;
    padding-bottom:0.5em;
    padding-left:0;
    background:url(img/groupHeaderBg.gif) left center repeat-x #fff;
    color:#2f5205;
}

* html .GroupHeader_Green td{padding-right:10px;}
*+html .GroupHeader_Green td{padding-right:10px;}

.GroupHeader_Green td p
{
    display:inline;
    padding:0 10px;
    background:#fff;
}

.GroupHeader_Green td p
{
    display:inline;
    padding:0 10px;
    background:#fff;
}

.GroupHeader_Green td div div
{
	top:-0.7em;
	padding:0 15px;
	background:#fff;
}

.GroupHeader_Green td div div div
{
	top:0;
	padding:0;
	border:0;
}

.GridFilterRow_Green td
{
    padding-top:0.2em;
    padding-bottom:0.2em;
    background: #e4e9cc;
    border-bottom:1px solid #ced3b7;
}

.GridFilterRow_Green input
{
    border:1px solid #9ba086;
    margin:0 4px 0 0;
}

.GridFilterMenu_Green
{
    cursor:default;
	border: solid 1px #566e4b;
}

.GridFilterMenu_Green .GridFilterMenuSelectColumn_Green,
.GridFilterMenu_Green .GridFilterMenuTextColumn_Green
{
	padding:3px 4px;
}

.GridFilterMenu_Green .GridFilterMenuSelectColumn_Green
{
    background:#f1f5e0;
    text-align:center;
}

.GridFilterMenu_Green .GridFilterMenuTextColumn_Green
{
    background:#fdfff3;
    color:#333;
}

.GridFilterMenu_Green .GridFilterMenuHover_Green
{
    background:#ddca80;
}

.TopReorderIndicator_Green
{
	background: url('img/MoveDown.gif') no-repeat;
	margin-left:-5px;
}

.BottomReorderIndicator_Green
{
	background: url('img/MoveUp.gif') no-repeat;
	margin-left:-5px;
}

.GridCommandRow_Green
{
	
}

/*AJAX Loading*/

.GridLoadingTemplate_Green
{
	background:#fff !important;
	font:normal 24px/54px arial,sans-serif;
	color:#72bc1b;
}

/* rtl support */

.RadGridRTL_Green .GridHeader_Green,
.RadGridRTL_Green .MasterTable_Green td
{
    text-align:right;
}

.RadGridRTL_Green .GridPager_Green span
{
    float:none !important;
}
