table.Tree
{
	width: 100%;
	height: 100%;
	table-layout: fixed;
	background-color: #FFFFFF;

}

td.Tree
{
	behavior: url(tree/tree.htc);
	vertical-align: top;
	font-family :Tahoma;
	font-size:11px;  

}

div.TreeContainer
{
	height:100%;
	width:100%;
	overflow:auto;
	padding: 3px;

}
span.TreeItem
{
	padding: 4px;
	background-color: #FFFFFF;
	cursor: hand;
	display: inline-block;
		font-family :Tahoma;
	font-size:11px;

}

span.On
{
	background-color: #CAD3E4;
	border: solid 1px #333333;
	padding: 3px;
}