.radTimeTableCss_Telerik caption
{
    display: none;
}

.radTimeTableCss_Telerik 
{
	font-family: Arial, Verdana, Sans-Serif;
	border: solid 1px #686868;
	background: white url('Img/calendarBg.gif') repeat-x;
	cursor: pointer;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=b4bcbd,offX=2,offY=2,positive=true);
	border-collapse: collapse;
}

.radTimeTableCss_Telerik td
{
	border: solid 1px #e5e5e5;
}

.radTimeTableCss_Telerik a
{
	display: block;
	font-size: 10px;
	text-decoration: none;
	color: #7f7f7f;
	line-height: 21px;
	width: 80px;
	line-height: 30px;
	text-align: center;
}

.radTimeOverCss_Telerik a
{
	background: #e9f5f8
}

.radHeaderCss_Telerik,
th.radTimeOverCss_Telerik
{
	font-size: 11px;
	font-weight: normal;
	color: black;
	height: 23px;
	background: #ebff9d url('Img/DaysOfWeek.gif') repeat-x;
	border-bottom: solid 1px #b3b39b;
}

.radItemCss_Telerik a,
.radAlternatingItemCss_Telerik
{
    /**/
}

.radItemCss_Telerik a:hover,
.radAlternatingItemCss_Telerik a:hover
{	
	/**/
}

.radPopupImage_Telerik
{	
	position: relative;  
	_position: inherit;
	outline: none;
}
*+html .radPopupImage_Telerik
{
	position: inherit;
}

.radPopupImage_Telerik img
{
	vertical-align: middle;
	margin:0 2px;
	border:0;
}

.radDisabled_Telerik img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.pickerWrapper_Telerik
{
	vertical-align:middle;
	height:18px !important;
}

.pickerWrapper_Telerik table
{
	vertical-align:bottom;
}

.pickerWrapper_Telerik table,
.pickerWrapper_Telerik td
{
	border: 0;
	border-style: none;
	padding: 0;
	margin: 0;
}

.pickerWrapper_Telerik .inputCell 
{
	padding: 0 5px 0 0;	
}